<h1>SF Food Trucks</h1>

<form class="form-inline">
  <div class="form-group">
    <label for="street-number">Street Number</label>
    <input type="text" class="form-control" id="street-number" placeholder="123" ng-model="streetNumber">
  </div>
  <div class="form-group">
    <label for="street-name">Street Name</label>
    <input type="text" class="form-control" id="street-name" placeholder="Fake St." ng-model="streetName">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submitAddress()">Search by Address</button> OR
  <button class="btn btn-primary" ng-click="locateMe()">Search Near Me</button>
  <hr>

  <div id="map"></div>

  <table class="table table-striped" id="food-table">
  <tr id="header-row">
    <th>Label</th>
    <th>Name</th>
    <th>Type</th>
    <th>Items</th>
    <th>Address</th>
    <th>Location</th>
  </tr>
</table>
</form>