// Place all the styles related to the food_trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-button{
  margin-top:5px;
}

.spacer {
  height: 75px;
}

#street-number {
  width: 90%;
}

#street-name {
  width: 90%;
}