<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class='row'>

      <div class='col-sm-8 col-sm-offset-1'>
        <div class="navbar-header">
          <a class="navbar-brand">
            SF Food Trucks
          <!-- <img src="jelly.png"> -->
          </a>
        </div>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</nav>